.title {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  color: red;
  font-size: 45px;
}

.wrapper {
  border: 2px solid #ddf;
  border-radius: 100px;
  margin: 100px;
}

h2 {
  color: green;
}

h3 {
  color: lightgreen;
}

.city {
  display: block;
  margin: 0 auto;
  padding-top: 15px;
}
.weather {
  font-size: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather p {
  font-size: inherit;
}
.search {
  display: block;
  text-align: center;
  margin: 0 auto;
  /* padding-left: 50px; */
}

.weather-icon {
  font-size: 100px;
  color: #fab977;
  padding-top: 50px;
}

p {
  color: darkviolet;
  font-size: 16px;
  margin: 0;
}

.week {
  display: block;
  text-align: center;
  position: relative;
  right: 0;
  display: flex;
  justify-content: flex-end;
}

.card-title {
  color: purple;
}

.emoji {
  color: violet;
}

.week {
  display: flex;
  align-items: center;
}

.icon {
  width: 144px;
  height: 144px;
}
.weather {
  flex-wrap: wrap;
  font-size: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
